<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.application.domain.mapper.UserMapper">
   <select id="getCertifacatedUser" resultType="com.example.demo.application.domain.model.User">
      select * from PROXY.USERS 
      WHERE MAIL = #{mail}
   </select>
   <select id="getUserForDuplicatedError" resultType="com.example.demo.application.domain.model.User">
      select * from PROXY.USERS 
      WHERE MAIL = #{mail}
   </select>
   <select id="getToken" resultType="com.example.demo.application.domain.model.User">
      select * from PROXY.USERS 
      WHERE TOKEN = #{token}
   </select>
   <select id="getPassword" resultType="com.example.demo.application.domain.model.User">
      select * from PROXY.USERS 
      WHERE PASSWORD = #{createPassword}
   </select>
   <select id="getUsers" resultType="com.example.demo.application.domain.model.User">
      select * from PROXY.USERS
      <where>
      	<if test = 'mail != null and mail != ""'>
      		MAIL = #{mail}
      	</if>
      	<if test = 'name != null and name != ""'>
      		AND NAME = #{name}
      	</if>
      	<if test = 'is_admin == true or is_admin == false'>
      		AND IS_ADMIN = #{is_admin}
      	</if>
      </where>
   </select>
   <insert id="insertUser">
   INSERT INTO 
     PROXY.USERS(
       MAIL,
       PASSWORD,
       NAME,
       IS_ADMIN,
       CREATED_AT
       )
   VALUES
     (
       #{mail},
       #{password},
       #{name},
       #{is_admin},
       #{created_at}
     ) 
   </insert>
   <update id="setInitialCertificationCount">
   UPDATE PROXY.USERS
   SET INITIAL_CERTIFICATION_COUNT = #{initial_certification_count}
   WHERE MAIL = #{mail}
   </update>
   <update id="setTokenInfo">
   UPDATE PROXY.USERS
   SET TOKEN = #{token},
       TOKEN_OUT_TIME = #{token_out_time}
   WHERE MAIL = #{mail}
   </update>
   <update id="setAutoCreatePassword">
   UPDATE PROXY.USERS
   SET PASSWORD = #{password}
   WHERE MAIL = #{mail}
   </update>
</mapper>