<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.application.domain.mapper.UserMapper">
   <select id="getCertifacatedUser" resultType="com.example.demo.application.domain.model.User">
      select * from PROXY.USERS 
      WHERE MAIL = #{mail}
   </select>
   <select id="getLoginUser" resultType="com.example.demo.application.domain.model.User">
      select * from PROXY.USERS 
      WHERE MAIL = #{mail} AND PASSWORD = #{password}
   </select>
   <select id="getUserForDuplicatedError" resultType="com.example.demo.application.domain.model.User">
      select * from PROXY.USERS 
      WHERE MAIL = #{mail}
   </select>
   <insert id="insertUser">
   INSERT INTO 
     PROXY.USERS(
       MAIL,
       PASSWORD,
       NAME,
       IS_ADMIN,
       CREATED_AT
       )
   VALUES
     (
       #{mail},
       #{password},
       #{name},
       #{is_admin},
       #{created_at}
     ) 
   </insert>
</mapper>